.footer-page {
   .container {
      // background: url(~assets/img/footer-bg.png);
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      color: #023e4f;
      font-family: "Cairo";
   }

   p {
      color: #023e4f;
   }

   .ps,
   .footer-page {
      font-family: "Inter";
   }

   .cairo {
      font-family: "Cairo";
   }
}
